# Node.js dependencies
*/node_modules

# Output files
/build
/dist

# Environment variables
/.env

# IDE-specific files
/.idea
/.vscode

# Log files
/*.log

# Compiled binaries
/*.exe
/*.dll
/*.so
/*.dylib

# Miscellaneous files
/.DS_Store
/Thumbs.db
